@import "bootstrap.min.css";

/*
----------------------------------------------------------------
	Resets
---------------------------------------------------------------- */

ul {
    margin: 0;
    padding: 0;
}

ul > li {
    list-style-position: inside;
}

body {
    background: #FFFFFA;
    color: #1B1633;
    font-family: 'kepler-std', georgia, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/*
----------------------------------------------------------------
	Typography
---------------------------------------------------------------- */

h1, h3, h4, h5, h6 {
    color: #A63F5B;
    font-family: 'futura-pt-condensed', 'futura', sans-serif;
    font-weight: 400;
    line-height: 1.1;
    margin: 0;
}

h1 {
    margin-top: 0.5em;
}

h2 {
    color: #265161;
    font-family: 'kepler-std', georgia, serif;
    font-size: 2.2em;
    font-weight: 400;
    font-style: italic;
    line-height: 1.1;
    margin: 1em 0 0.5em 0;
}

h1 { font-size: 3.6em;}
h3 { font-size: 2.3em;}
h4 { font-size: 2.0em;}
h5 { font-size: 1.6em;}
h6 { font-size: 1.0em;}


a {
    color: #66285B;
}

a:visited {
    color: #66285B;
}

/*
----------------------------------------------------------------
	Media
---------------------------------------------------------------- */
img,
iframe,
video,
svg {
    display: block;
    max-width: 100%;
}

/*
----------------------------------------------------------------
	Navigation
---------------------------------------------------------------- */

header {
    background: #FDFDF8;
    border: 2px solid #F8F8E9;
    margin-bottom: 1.5em;
    padding: 1em 0;
}

.no-bleed {
    margin-bottom: 0;
}

.primary-nav {
    padding-top: 1em;
    padding-bottom: 1em;
}

.primary-nav li {
    float: left;
    list-style: none;
    text-align: center;
}

.primary-nav li a {
    color: #1B1633;
    display: block;
    font-family: 'futura-pt-condensed', sans-serif;
    font-size: 1.5em;
}

.logo {
    margin: 0px auto;
}


/*
----------------------------------------------------------------
	Recent Posts
---------------------------------------------------------------- */

.item-post {
    list-style: none;
}

.item-post a {
    border-bottom: 1px solid #F8F8E9;
    display: block;
    padding: 1em 0;
}


/*
----------------------------------------------------------------
	About
---------------------------------------------------------------- */

.hero-image-bio {
    border-radius: 100%;
}

.bio,
.contact-info {
    padding-top: 3em;
}

.headline-bio,
.contact-info h2 {
    text-align: center;
}

.contact-info h2 {
    padding-bottom: 0.5em;
}

.contact-list-item {
    list-style: none;
    text-align: center;
}

.contact-list-item i {
    display: block;
    padding-right: 0.25em;
    text-align: center;
}


/*
----------------------------------------------------------------
	Footer
---------------------------------------------------------------- */

footer {
    border-top: 0.25em solid #66285B;
    background: #1B1633;
    color: #BDB8D7;
    margin-top: 6em;
    padding: 1.5em 0;
    text-align: center;
}

/* End Styles */
